**Question 1:**
Write a program to subtract two complex numbers in Python.

In [ ]:

a=3+7j
b=2+5j
print(a-b)

(1+2j)

**Question 2 :**
Write a program to find the fourth root of a number.

In [ ]:

x=64
print(x**(1/4))

2.8284271247461903

**Question 3:**
Write a program to swap two numbers in Python with the help of a temporary variable.

In [ ]:
a=5
b=8
temp =a
a=b
b=temp 
print("a=",a)
print("b=",b)

a= 8
b= 5

**Question 4:**
Write a program to swap two numbers in Python without using a temporary variable.

In [ ]:
a= 5
b= 8
a=a+b
b=a-b
a=a-b
print("a=",a)
print("b=",b)

a= 8
b= 5

**Question 5:**
Write a program to convert Fahrenheit to kelvin and celsius both.

In [ ]:
a=20
cel= (a-32)*5/9
print("Fahrenheit to celcius temperature=",cel)
b=20
kelvin = b + 273.15
print("Fahrenheit to Kelvin=",kelvin)

Fahrenheit to celcius temperature= -6.666666666666667
Fahrenheit to Kelvin= 293.15

**Question 6:**
Write a program to demonstrate all the available data types in Python. Hint: Use type() function.

In [ ]:
a=10
b=20.123
c="Imad"
d= 'mady'
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>